# Airflow
AIRFLOW_UID=

# Pipeline paths
FOOTBALL_DATA_ROOT=data
FOOTBALL_REPORTS_ROOT=reports
FOOTBALL_MODELS_ROOT=models

# Ingestion
FOOTBALL_PROVIDER=statsbomb_open_data
STATSBOMB_EVENTS_BASE_URL=https://raw.githubusercontent.com/statsbomb/open-data/master/data/events
HTTP_TIMEOUT_SECONDS=

# Logging
LOG_LEVEL=

# Minio
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# Football DB
FOOTBALL_DB_USER=
FOOTBALL_DB_HOST=
FOOTBALL_DB_PORT=
FOOTBALL_DB_NAME=
FOOTBALL_DB_PASSWORD=